.body {
  display: grid;
  grid-template-columns: 15vw 85vw;
}


.navbar {
  background-color: #F2CD5C;
  color: black;
  height: 100%;
  margin-top: -0.1vh;
  font-size: 1.5rem;
}
.eee{
  transition-duration: 0.3s;
}
.eee:hover{
  background-color: black;
  color: #F2CD5C !important;
}

.heading {
  font-size: 1.3em;
  color: blue;
  text-align: left;
  margin-top: 5vh;
  font-weight: bold;
  margin-left: 5vw;
  margin-bottom: 10vh;
}
.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  width: 50vw;
  margin-left: 5vw;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 3vh;
}
.myB {
  width: 15vw;
  margin-right: 24.7vw;
  border: none;
  background-color: #7670d9;
  color: white;
  height: 5vh;
  border-radius: 0.5em;
}
.myB:hover {
  opacity: 0.9;
}
.past {
  margin-bottom: 4vh;
  font-size: 1.8em;
  color: blue;
  font-weight: bold;
}
.table {
  width: 60vw;
  margin: 0 auto;
}

.ppp {
  background-color: lightcyan;
  width: 70vw;
  border-radius: 0.4em;
  padding: 3vh;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
}
