.body {
  display: grid;
  grid-template-columns: 15vw 85vw;
}

.navbar {
  background-color: #f2cd5c;
  color: black;
  height: 100%;
  margin-top: -0.1vh;
  font-size: 1.5rem;
}
.eee {
  transition-duration: 0.3s;
}
.eee:hover {
  background-color: black;
  color: #f2cd5c !important;
}
.heading {
  font-size: 1.3em;
  color: blue;
  text-align: left;
  margin-top: 5vh;
  font-weight: bold;
  margin-left: 5vw;
}

.context {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 60vw;
  margin-left: 5vw;
  margin-top: 3vh;
  align-content: center;
  font-size: 1.4em;
}

.myB {
  width: 20vw;
  margin-left: 5vw;
  border: none;
  background-color: #7670d9;
  color: white;
  height: 5vh;
  border-radius: 0.5em;
}
.myB:hover {
  opacity: 0.9;
}

.past {
  margin-bottom: 4vh;
  font-size: 1.8em;
  color: blue;
  font-weight: bold;
}
.table {
  width: 60vw;
  margin: 0 auto;
}

.ppp {
  background-color: lightcyan;
  width: 70vw;
  border-radius: 0.4em;
  padding: 3vh;
  margin: 0 auto;
  margin-top: 10vh;
}
