.part{
    height: 10vh;
    display: grid;
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.text{
    width: 20vw;
    text-align: left;
}

.input{
    border-radius: 5px;
}